
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/assets/style.css">
<script src="/public/addForm.js"></script>
</head>
<body>
    <form class = "planet_form"> 
    
        <label>name</label> 
        <input type="text" id="name" > 
    
        <label>mass</label> 
        <input type="text" id="mass" > 
    
        <label>radius</label> 
        <input type="text" id="radius" > 
    
        <label>period</label> 
        <input type="text" id="period" > 
    
        <label>semi_major_axis</label> 
        <input type="text" id="semi_major_axis"> 
    
        <label>temperature</label> 
        <input type="text" id="temperature" > 
    
        <label>distance_light_year</label> 
        <input type="text" id="distance_light_year" > 
    
        <label>host_star_mass</label> 
        <input type="text" id="host_star_mass" > 
    
        <label>host_star_temperature</label> 
        <input type="text" id="host_star_temperature" > 
    
        <label>image</label> 
        <input type="text" id="image" > 
    
       
    
    
        <button class="btn"onClick = "addNewPlanet(event)"> Add </button> 
    </form> 
</body>
</html>